<div class="modal-content entry-edit">
  <div class="modal-header">
    <h4 class="modal-title">New Concept</h4>
  </div>
  <div class="modal-body">
    <div class="form-inline" role="form">
      <div class="form-group">
        {{input placeholder="Concept ID" value=conceptId class="form-control required" }}
      </div>
    <button type="button" class="btn btn-default" {{action 'save'}}>Save</button>
    {{#if loading}}
    <img src="/images/loading.gif" />
    {{/if}}
    </div>
  </div>
</div>
