<div class="container">
    <div class="row">
        <ul class="list-inline">
            <!--li>
            {{input
                id="search-field"
                type="text"
                placeholder="TODO search"
                action=search
            }}
            </li-->
            <li>
              <!-- Localize this.-->
              <h3>Languages:</h3>
             {{multi-select-component
              content=languages
              optionLabelPath="name"
              classNames="lang-multi-select"
              selections=activeLanguages
            }}
            </li>
            {{#if model.subjectFields}}
            <li>
              <!-- Localize this.-->
              <h3>Subject Fields:</h3>
             {{multi-select-component
              content=model.subjectFields
              optionLabelPath="name"
              classNames="lang-multi-select"
              selections=activeSubjectFields
            }}
            </li>
            {{/if}}
        </ul>
    </div>
</div>
<div class="container">
    <div class="row">
      {{table-component
        columns=columns
        content=rows
      }}
    </div>
</div>
