<div class="container">
    <div class="row">
      <div class="col-md-12">
        <table class="table table-bordered">
          <tr>
            <th>Languages</th>

            {{#if subjectFields}}
            <th>Subject Fields</th>
            {{/if}}
          </tr>
          <tr>
            <td>
              {{multi-select-component
                content=languages
                optionLabelPath="name"
                classNames="lang-multi-select"
                selections=activeLanguages
              }}
            &nbsp;<span>Click field to select languages.</span>
            </td>
            {{#if subjectFields}}
            <td>
               {{multi-select-component
                content=subjectFields
                optionLabelPath="name"
                classNames="lang-multi-select"
                selections=activeSubjectFields
               }}
              &nbsp;<span>Click field to select subject fields.</span>
            </td>
            {{/if}}
        </table>
      </div>
    </div>
</div>
<div class="container">
    <div class="row">
      {{table-component
        hasFooter=false
        columns=columns
        content=rows
      }}
    </div>
    <div class="row">
      {{pager-component
        allPages=pages
        setLimit="adjustLimit"
        setStart="adjustStart"
      }}
    </div>
</div>
