<div class="container">
    <div class="row">
        <ul class="list-inline">
            <li>
              <!-- Localize this.-->
              <h3>Languages:</h3>
             {{multi-select-component
              content=languages
              optionLabelPath="name"
              classNames="lang-multi-select"
              selections=activeLanguages
            }}
            </li>
            {{#if subjectFields}}
            <li>
              <!-- Localize this.-->
              <h3>Subject Fields:</h3>
             {{multi-select-component
              content=subjectFields
              optionLabelPath="name"
              classNames="lang-multi-select"
              selections=activeSubjectFields
            }}
            </li>
            {{/if}}
        </ul>
    </div>
</div>
<div class="container">
    <div class="row">
      {{table-component
        hasFooter=false
        columns=columns
        content=rows
      }}
    </div>
</div>
