<div class="container lexterm-page">
    <!-- TODO add support for collections -->
    <!--<div class="row">-->
      <!--<div class="col-md-12">-->
        <!--<h2 class="collection-header">{{name}}</h2>-->
      <!--</div>-->
    <!--</div>-->
    <div class="row">
      {{outlet}}
    </div>
</div>
