<div class="col-md-9">
  <div class="jumbo">
    <h1>Welcome to the LexTermManager</h1>
  </div>
  <div class="md"><article>
      <p><a name="translators"></a></p>

      <h2><a name="terminologists" class="anchor" href="#terminologists"><span class="anchor-icon"></span></a>Terminologists</h2>

      <p>If you have terminology that hasn't been integrated into the LexTerm Manager,
      you can import the terminology by following the instructions for <a href="#tbx">importing an existing TBX termbase</a> or
      <a href="#help-new-entry">manually creating entries</a>. Once your terminology has been entered in the manager, you can access the data by
      clicking on the "Terminology" link in the top navigation bar to navigate to the <a href="#term">terminology view</a>.</p>

      <p>The <a href="#term">terminology view</a> allows you to view terms across multiple languages. You can also search for
      specific terms using the search box in the top left. Terms are ordered by their concept id. If you want to add
      a new term to a concept, copy the concept id for the concept you wish to extend, then click "New Entry" to <a href="#help-new-entry">create
        a new entry</a> with that concept in another language.</p>

      <p><a name="translators"></a></p>

      <h2><a name="lexicographers" class="anchor" href="#lexicographers"><span class="anchor-icon"></span></a>Lexicographers</h2>

      <p>If TBX files are available, they can be a good way to <a href="#tbx">bootstrap the lexicon</a>. Sadly there is not as yet
      any import functionality for LMF formats. However, you can <a href="#help-new-entry">create new entries</a> and <a href="#edit-entry">expand the
        paradigms for existing entries</a> manually. To lookup an entry, use the <a href="#lex">lexicon view</a>.
      The <a href="#lex">lexicon view</a> has a search box in the top left corner. This searchbox will filter entries
      to only those that have a written representation of a form that matches the query. For example, searching for "cats"
      with match entries with the lemma "cat" so long as there is a form with a value "cats" for that entry. Click on the
      title of the entry to edit that entry.</p>

      <p><a name="translators"></a></p>

      <h2><a name="translators" class="anchor" href="#translators"><span class="anchor-icon"></span></a>Translators</h2>

      <p>If you have terminology that hasn't been integrated into the LexTerm Manager,
      you can import the terminology by following the instructions for <a href="#tbx">importing an existing TBX termbase</a> or
      manually creating entries. Once your terminology has been entered in the manager, you can access the data by
      clicking on the "Terminology" link in the top navigation bar to navigate to the <a href="#term">terminology view</a>.</p>

      <p>The <a href="#term">terminology view</a> allows you to view terms and definitions for multiple languages, which is
      useful as a basic glossary while translating. You can use the search box in the top left to search for various
      entries. The search box will find entries that have a representation matching the query even if that representation
      is not the lemma, which means that terms returned may not appear to match the query. However, if you click on a
      highlighted term, you will be able to view the full paradigm for that term.</p>

      <p><a name="tbx"></a></p>

      <h2><a name="importing-an-existing-tbx-termbase" class="anchor" href="#importing-an-existing-tbx-termbase"><span class="anchor-icon"></span></a>Importing an existing TBX termbase</h2>

      <ol>
        <li>Click "TBX" in the top navigation bar.</li>
        <li>Click "Upload" to upload your TBX file.</li>
        <li>Be patient during the upload, you will be redirected when the upload completes successfully.</li>
      </ol>

      <p><em>Note: the LexTerm Manager only supports properly formated TBX-Basic files.</em></p>

      <h3><a name="warning-termbases-larger-than-mb-will-take-very-long-to-process-and-may-not-complete-on-some-servers" class="anchor" href="#warning-termbases-larger-than-mb-will-take-very-long-to-process-and-may-not-complete-on-some-servers"><span class="anchor-icon"></span></a>Warning: Termbases larger than 1mb will take very long to process and may not complete on some servers.</h3>

      <p><a name="help-new-entry"></a></p>

      <h2><a name="creating-new-entries" class="anchor" href="#creating-new-entries"><span class="anchor-icon"></span></a>Creating New Entries</h2>

      <p>To add a new entry to the LexTerm Manager, click the "New Entry" link in the top navigation bar. Each new entry
      requires a lemma, which is the primary written representation of a term if you are using the LexTerm Manager
      for terminology. You may also provide a custom Lexical ID for the entry to reference exising sources of
      terminology or lexicographic data. If you do not provide a Lexical ID, the system will generate one for you.</p>

      <p>All entries require a reference to both a language and a concept. An entry is in essence the manifestation of
      a particular concept in a particular language.</p>

      <p>If the entry is for an existing language, click the button labeled "Language" to select a langauge from the
      dropdown. Otherwise, you can create a new language by clicking the "+" symbol. This will bring up a New Language
      dialog with fields for the language name, code, and region code. Every language requires a name, which is the
      display name of the language (e.g. English). Every language also requires a language code, which can be up to
      four characters long depending on the part of ISO 639 you wish to use to categorize languages. You may also
      specify the language as a regional dialect by providing a region code. Click "Save" to save the new language.
      This will make it available in the Entry language dropdown list.</p>

      <p>If the entry is for an existing concept, click the button labeled "Concept" to select a concept from the dropdown.
      Otherwise, you can create a new concept by clicking the "+" symbol. This will bring up a New Concept dialog. A
      concept consists of a unique concept id. If you do not know the id of the concept that the entry belongs to,
      you can click save and have the LexTerm Manager generate a unique concept id for you.</p>

      <p>Once you have filled out the various fields, click the "Save" button to create the new entry. Because the entry
      and all of its various parts will need to be indexed in the search system, it may take several seconds before
      you will be automatically navigated to the entry view, where you can provide additional information about
      this entry.</p>

      <p><a name="edit-entry"></a></p>

      <h2><a name="editing-existing-entries" class="anchor" href="#editing-existing-entries"><span class="anchor-icon"></span></a>Editing Existing Entries</h2>

      <p>All of the various parts of a LexTerm Manager entry can be edited by clicking on an entry link in either the
      <a href="#term">terminology</a> or <a href="#lex">lexicon</a> views. Once opened, an entry will display the lemma at the top.
      Clicking on the "X" in the top right will delete the entry. This does not delete any languages, lexical classes,
      forms, features, concepts, or subject fields related to that entry. However, it will remove any representations
      of any forms that comprise the entry. In general, it is not possible to delete other parts of an entry via the
      LexTerm Manager client.</p>

      <p>Clicking on the "+" symbol will open a dialog to create new Language, Lexical Class (Part of Speech), Concept,
      etc. For example, if no subject fields exist, clicking the "+" next to "Subject Fields" will open a dialog to
      create a new subject field. After saving the subject field, you can add the subject field to the entry by clicking
      the "Add Subject Field" button, which displays a dropdown list of available subject fields (<em>warning this list
        is loaded dynamically from the server so it make take a second or two to populate.</em>)</p>

      <p>The "*" symbol is a placeholder. It indicates that the corresponding part of the entry was generated automatically.
      For example, if the entry was added via a TBX upload, the system will automatically create a "*" lexical class
      when no Part of Speech information is provided. Also, each entry starts with a "*" form for the lemma. You
      will need to fill out the lexicographic information (paradigm) for each entry after it is created.</p>

      <p>To expand the paradigm for each entry, you need to ensure that the relevant forms and features exist. To add
      new forms and features, simply click the "+" symbol to open a creation dialog. Forms do not require features,
      but it is not currently possible to add features to an existing form in the LexTerm manager client. Therefore,
      it is generally best to
      create the necessary features before creating a form. The feature creation dialog has create-select widgets
      that allow you to either select an existing feature type / feature value or create a new one by typing the
      name of the feature type / feature value and hitting &lt;Enter&gt;. For example, you could select the feature
      type "Number", assuming that it has been created, and then type "plural" to add the feature type "plural". Then,
      click save to save this new feature combination. Following the same example, you might create a form with
      the name "noun-plural" to be used with nouns that have a number feature by entering the name "noun-plural"
      in the new form dialog field "Name" and selecting the plural feature in the multiselect on the same dialog.
      To add this new form to the entry, click the "Add Lexical Form" button and select the noun-plural form.
      This will add a new row to the paradigm with a placeholder (i.e. "*") for the written representation of that
      form. You can then fill in the written representation of the form and hit &lt;Enter&gt; to save it in the paradigm.
      Assuming you were working on an entry for the term "cat" in English, the written representation of the
      noun-plural form would be "cats".</p>

      <p><em>Note: To save most parts of the entry, simply hit &lt;Enter&gt;. Selections are automatically saved.
        In order to save a definition, you must hit &lt;Enter&gt; while the cursor is inside the definition.</em></p>

      <p><em>Note: For developers --- All data on the server may be created, retrieved, updated, and deleted via the
        RESTful API, which has a human readable browseable interface accessible under <a href="/api">/api</a>.</em></p>

      <p><a name="term"></a></p>

      <h2><a name="terminology-perspective" class="anchor" href="#terminology-perspective"><span class="anchor-icon"></span></a>Terminology Perspective</h2>

      <p>In order to view the terminology view, there must be entries for the LexTerm Manager to access. If the
      "Terminology" link does not appear in the top navigation bar, you need to either <a href="#help-new-entry">manually create entries</a>
      or <a href="#tbx">import an existing TBX termbase</a> to proceed. Once data has been entered the terminology view
      becomes available by clicking the "Terminology" link in the top navigation bar.</p>

      <p>The terminology view consists of a table of concepts and their representations (i.e. terms) in selected
      languages. To select a language to view, simply click the box under "Languages" and select a language by name
      from the dropdown menu. You can also filter concepts by subject field if subject fields have been assigned
      to concepts (<a href="#edit-entry">see editing existing entries</a>).</p>

      <p>To deselect a language or subject field, simply click the "X" on the language name tag.</p>

      <p>Results can be paginated using the pager at the bottom of the terminology view. The left-hand side of the
      pager is for limiting the number of results in the table, and the right-hand side is for cycling through pages
      of data when the LexTerm Manager has more entries that match the languages and subject fields selected than the
      limit.</p>

      <p>Clicking on individual terms will navigate to that entries page where you can view lexicographic data about that
      particular term.</p>

      <p><a name="lex"></a></p>

      <h2><a name="lexicon-perspective" class="anchor" href="#lexicon-perspective"><span class="anchor-icon"></span></a>Lexicon Perspective</h2>

      <p>In order to view the lexicon view, there must be entries for the LexTerm Manager to access. If the
      "Lexicon" link does not appear in the top navigation bar, you need to either <a href="#help-new-entry">manually create entries</a>
      or <a href="#tbx">import an existing TBX termbase</a> to proceed. Once data has been entered the lexicon view
      becomes available by clicking the "Lexicon" link in the top navigation bar.</p>

      <p>The lexicon view consists of a panel for selecting various languages and a list of entries for the language
      selected. Clicking on the highlighted title (lemma) for any given entry will allow you to edit that entry. Unlike
      the <a href="#term">terminology view</a>, this view shows all of the data for a given entry but does not let
      you compare concepts across languages.</p>

      <p>Results can be paginated using the pager at the bottom of the lexicon view. The left-hand side of the
      pager is for limiting the number of results in the table, and the right-hand side is for cycling through pages
      of data when the LexTerm Manager has more entries that match the language selected than the limit.</p>
  </article></div>
</div>
