<div class="container">
  <div class="row">
    <div class="col-md-2" id="leftCol">
      <ul class="nav nav-pills nav-stacked" id="sidebar">
        {{#each lang in this}}
        {{#link-to "lex.entry" collection lang tagName="li"}}
          <a {{bind-attr href="view.href"}}>{{lang.name}}</a>
        {{/link-to}}
        {{/each}}
      </ul>
    </div>
    <div class="col-md-10">
      {{outlet}}
    </div>
  </div>
</div>
