<span class="btn btn-default btn-file">
  {{#if uploadMessage}}
    {{uploadMessage}}
  {{else}}
    <img src="/images/loading.gif" />
  {{/if}}
  {{file-upload
    url=uploadUrl
    collection=collection
    displayStatus="changeUploadMessage"
    redirect="redirectToTerminology"
  }}
</span>

<a href="http://localhost:8000/api/tbx/export/" class="btn btn-default">Export all data to TBX</a>

